body.alpha,
body.party-unaffiliated.alpha,
body.party-anarchists.alpha,
body.party-docs.alpha,
body.party-economic.alpha,
body.party-faith.alpha,
body.party-guns.alpha,
body.party-mafia.alpha,
body.party-intelligentsia.alpha,
body.party-workers.alpha,
body.party-toxicorp.alpha {
  background-color: rgb(180, 200, 180);
  background-image: none;
  color: #f8fefb;
  margin: auto;
}

.alpha .quest-group-completion {
  color: #cfd5d1;
  text-shadow: 0 0.15px 0 #dddfde;
  margin-bottom: 22px;
}

.alpha a.version, .alpha .location, .alpha .news .dateline {
  color: #cfd5d1;
}

.alpha .highlight {
  color: #f0fef8 !important;
  -webkit-text-stroke: 0.4px rgba(104, 28, 20, 0.8);
  -webkit-text-fill-color: #f0fef8;
}

.alpha .news .message-body {
  background-color: rgba(16, 24, 20, 0.8) !important;
  border: rgba(16, 24, 20, 0.5) !important;
  box-shadow: 2px 2px 5px #000;
}

.alpha p {
  margin: 9px 8px 9px 14px;
}

.alpha p:first-of-type {
  margin-top: 0;
}

.alpha .speech-bubble p:first-of-type {
  margin-top: 9px;
}

.alpha-only {
  display: none;
}

body.alpha .alpha-only {
  display: inherit;
}

.alpha .subtitle {
  font-weight: bold;
  font-size: 18px;
  -webkit-text-stroke: 0.35px rgba(0, 0, 0, 0.975);
  color: #4d1;
  font-family: Helvetica, Arial, "Verdana", "sans-serif";
  text-shadow: 0 1px 0 #528009;
}

