body.alpha {
  background-color: black;
  background-position: top left;
  background-attachment: fixed;
}

body.alpha::after {
  content: "";
  background: url(/sites/default/files/images/green-bg.jpg);
  background-size: 100vw 100vh;
  background-position: top left;
  background-attachment: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.alpha .quest-group-completion {
  color: #cfd5d1;
  text-shadow: 0 0.15px 0 #dddfde;
  margin-bottom: 22px;
}

.alpha a.version, .alpha .location {
  color: #cfd5d1;
}

.alpha-only {
  display: none;
}

body.alpha .alpha-only {
  display: inherit;
}

.alpha .subtitle {
  font-weight: bold;
  font-size: 18px;
  -webkit-text-stroke: 0.35px rgba(0, 0, 0, 0.975);
  color: #4d1;
  font-family: Helvetica, Arial, "Verdana", "sans-serif";
  text-shadow: 0 1px 0 #528009;
}
