body.beta,
body.party-unaffiliated.beta,
body.party-anarchists.beta,
body.party-docs.beta,
body.party-economic.beta,
body.party-faith.beta,
body.party-guns.beta,
body.party-mafia.beta,
body.party-intelligentsia.beta,
body.party-workers.beta,
body.party-toxicorp.beta {
  background-color: rgb(180, 200, 180);
  background-image: none;
  color: #f8fefb;
}

.beta .quest-group-completion {
  color: #334438;
  text-shadow: 1px 1px 3px #dddfde;
  margin-bottom: 22px;
}

.beta a.version, .beta .location, .beta .news .dateline {
  color: #101814;
}

.beta .highlight {
  color: #f0fef8 !important;
  -webkit-text-stroke: 0.4px rgba(104, 28, 20, 0.8);
  -webkit-text-fill-color: #f0fef8;
}

.beta .news .message-body {
  background-color: rgba(16, 24, 20, 0.8) !important;
  border: rgba(16, 24, 20, 0.5) !important;
  box-shadow: 2px 2px 5px #000;
}
