body {
  background: black url(/sites/default/files/images/background.jpg) repeat top left;
  margin: 4px 0 40px;
}

body.party-unaffiliated {
  background-image: url(/sites/default/files/images/background_unaffiliated.jpg);
}

body.party-anarchists {
  background-image: url(/sites/default/files/images/background_anarchists.jpg);
}

body.party-docs {
  background-image: url(/sites/default/files/images/background_docs.jpg);
}

body.party-economic {
  background-image: url(/sites/default/files/images/background_economic.jpg);
}

body.party-faith {
  background-image: url(/sites/default/files/images/background_faith.jpg);
}

body.party-guns {
  background-image: url(/sites/default/files/images/background_guns.jpg);
}

body.party-mafia {
  background-image: url(/sites/default/files/images/background_mafia.jpg);
}

body.party-intelligentsia {
  background-image: url(/sites/default/files/images/background_intelligentsia.jpg);
}

body.party-workers {
  background-image: url(/sites/default/files/images/background_workers.jpg);
}

body.party-toxicorp {
  background-image: url(/sites/default/files/images/background_toxicorp.jpg);
}

a, a:link, a:visited, a:hover, a:active {
  color: #1ca443;
}

li {
  list-style: url('/sites/default/files/images/redbullet.png');
}

.header {
  width: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.35) !important;
}

/*.header.hood1 {*/
  /*background: url(/sites/default/files/images/stlouis_header_bg_1.jpg) !important;*/
/*}*/

/*.header.hood2 {*/
  /*background: url(/sites/default/files/images/stlouis_header_bg_2.jpg) !important;*/
/*}*/

/*.header.hood3 {*/
  /*background: url(/sites/default/files/images/stlouis_header_bg_3.jpg) !important;*/
/*}*/

/*.header.hood4 {*/
	/*background: url(/sites/default/files/images/stlouis_header_bg_4.jpg) !important;*/
/*}*/

/*.header.hood5 {*/
  /*background: url(/sites/default/files/images/stlouis_header_bg_5.jpg) !important;*/
/*}*/

/*.header.hood6 {*/
  /*background: url(/sites/default/files/images/stlouis_header_bg_6.jpg) !important;*/
/*}*/

.header .experience {
  border-bottom: 1px solid #333833 !important;
}

.title.loot {
  color: #d4c41c;
}

.welcome .subtitle {
  color: #1ca443;
  font-weight: bold;
  margin-top: 9px;
}

.welcome-continue a, .election-continue a {
  border: 1px solid #1ca443;
  background-color: #1ca443;
}

.main-menu, .elders-menu {
  font-weight: bold;
}

.main-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 45%;
  margin: 6px 2%;
  float: left;
  background: #444f44;
}

.elders-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 72%;
  margin: 10px 14%;
  text-align: center;
  background: #444f44;
}

.menu-option a {
  text-decoration: none;
}

.menu-option.not-yet {
  text-decoration: none;
  color: #bbb;
}

.quests, .land {
  background-color: #0d0f0d;
}

.quests .quest-experience, .quests .quest-money,
.quests .quest-required_energy, .quests .quest-required_stuff,
.quests .quest-payout,
.land .land-cost, .land .land-action-cost, .land .land-payout,
.land .land-required_level, .land-soon .land-action-cost {
  color: #1ca443;
}

.quests .quest-required_stuff.missing {
  color: #c4244f;
}

.quests .quest-loot {
  color: #d4c41c;
}

.quests .quest-payout.negative,
.land .land-payout.negative, .land-soon .land-payout.negative {
  color: #c4244f;
}

.quests .quest-description, .land .land-description {
  color: #cbb;
}

.quests-soon .quest-experience, .quests-soon .quest-money,
.quests-soon .quest-required_energy,
.land-soon .land-cost, .land-soon .land-payout,
.land-soon .land-required_level {
  color: #0e5221;
}

.quests-soon a, .quests-soon a:link, .quests-soon a:visited,
.quests-soon a:hover, .quests-soon a:active,
.land-soon a, .land-soon a:link, .land-soon a:visited,
.land-soon a:hover, .land-soon a:active {
    color: #0e5221;
}

.quest-succeeded, .election-succeeded, .land-succeeded {
  color: #1ca443;
}

.quest-failed, .election-failed, .land-failed, .title.failed {
  color: #c4244f;
}

.quest-do-again, .land-buy-again {
  text-align: right;
  margin-right: 8px;
  margin-bottom: 28px;
  padding-top: 3px;
}

.quest-do-again-inside, .land-buy-again-inside {
  padding: 3px;
  background-color: #1ca443;
  border: 1px solid #1ca443;
  border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
}

.quest-do-again a, .land-buy-again a {
  color: #fff;
  text-decoration: none;
}

.quests .quest-name.loot {
  color: #d4c41c;
}

.quests .quest-num, .quests .quest-requisites, .quests .quest-disbursements {
  display: none;
}

.land .land-owned {
  color: #fff;
}

.level-up {
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
  background-color: #0e5221;
  min-height: 72px;
}

.level-up.happy {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_happy.png');
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-size: contain;
  padding-left: 66px;
  -webkit-background-size: 54px 72px;
  background-size: 54px 72px;
}

.choose-clan-name {
  margin-left: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #1ca443;
}

.choose-clan-name a {
  text-decoration: none;
}

.choose-clan-slogan {
  margin: 0px 0px 8px 54px;
  font-style: italic;
  font-size: 11px;
  color: #bcb;
}

.help .subtitle {
  margin: 8px 0 4px;
}

.help .subtitle {
  color: #1ca443;
}

.wise_old_man_large, .wise_old_man {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_large.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 106px;
  height: 144px;
  float: left;
}

.wise_old_man_small {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_small.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 65px;
  height: 80px;
  float: left;
}

.wise_old_man.sad {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_sad.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 90px;
  height: 90px;
  float: left;
  background-size: contain;
  margin-right: 12px;
}

.wise_old_man.happy {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_happy.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 54px;
  height: 72px;
  float: left;
  background-size: contain;
  margin-right: 12px;
}

.username-error {
  color: #c4244f;
}

.elections-header {
  color: #1aa443;
}

.elections .election-details .action, .land .land-buy-button,
.land .land-sell-button, .land .land-perform-button,
.send-message-send-wrapper .send-message-send,
.quests .quests-perform-button, .crafting-submit-button {
  padding: 3px 12px;
  background-color: #188433;
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.send-message .block-user {
  padding: 3px 12px;
  background-color: #188433;
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.send-message .block-user a {
  color: #fff;
  text-decoration: none;
}

.elections .election-details .action.not-yet, .land .land-buy-button.not-yet,
.land .land-sell-button.not-yet {
  background-color: #333833;
  border: 1px solid #333833;
}

.elections .election-details .action a, .land .land-buy-button a,
.land .land-sell-button a, .land form input.land-buy-button {
  color: #fff;
  text-decoration: none;
}

.try-an-election {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.try-an-election.not-yet {
  background-color: #333833 !important;
  border: 1px solid #333833 !important;
}

.news .message-body {
  border: 1px solid #111811 !important;
  background-color: #111811 !important;
}

.news .message-body.user.user-png {
  font-weight: bold;
}

.news .message-body.user.user-comp {
  color: #85851f
}

.news .message-body.mayor.mayor-system {
  color: green;
  font-style: italic;
}

.news .message-body.mayor.mayor-mayor {
  color: green;
}

.news .button, .news button {
  background-color: #0e5221 !important;
  border: 1px solid #0e5221 !important;
}

.news .button.active, .news button.active {
  background-color: #188433 !important;
  border: 1px solid #fff !important;
}

.news .button.not-yet, .news button.not-yet {
  background-color: #bbb !important;
  border: 1px solid #bbb !important;
  color: black;
}

.news .message-reply {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.news .message-reply.not-yet {
  background-color: #bbb !important;
  border: 1px solid #bbb !important;
  color: black;
}

.user-profile .action {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.user-profile .action.not-yet {
  background-color: #333833 !important;
  border: 1px solid #333833 !important;
}

.user-profile .event-status {
  color: #b33;
}

.highlighted {
  color: #188433;
  font-weight: bold;
}

.event-info .subtitle {
  color: #c33;
  font-weight: bold;
  margin-top: 20px;
}

.event-info .subsubtitle {
  color: #aaa;
}

a.version {
  color: #aa6;
  text-decoration: none;
}

.new-main-menu .elections-menu {
  position: absolute;
  top: 97px;
  left: 45px;
  text-decoration: none;
  color: rgba(255, 85, 85, 0.01);
  font-size: 15px;
  font-family: Georgia, "times new roman", serif;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(255, 255, 0, 0.01);
}

.competency-pip {
  border-right: solid 2px #693318 !important;
}

.competency-pip.attained {
  border-right: solid 2px #188433 !important;
}

.too-soon {
  color: rgba(255, 255, 70, 0.7);
}

.competency-tag {
  transform: rotate(-90deg);
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 13px 11px;
  font-size: 20px;
  background: rgba(0, 100, 0, 0.7);
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "times new roman", Roman, Serif;
}

textarea {
  background-color: lightgrey;
}

.location-ammunition {
  border-bottom: #080 solid 1px;
}

.location-chaos {
  border-bottom: #ffa500 solid 1px;
}

.location-charisma {
  border-bottom: #e00 solid 1px;
}

.location-finance {
  border-bottom: #e0e0e0 solid 1px;
}

.location-goo {
  border-bottom: #800080 solid 1px;
}

.location-greenbacks {
  border-bottom: #fff dotted 1px;
}

.location-health {
  border-bottom: #0f0 solid 1px;
}

.location-humility {
  border-bottom: #dd0 solid 1px;
}

.location-intelligence {
  border-bottom: #35f solid 1px;
}

.location-strength {
  border-bottom: #0ee solid 1px;
}

.player-ammunition {
  border-top: #080 solid 1px;
}

.player-chaos {
  border-top: #ffa500 solid 1px;
}

.player-charisma {
  border-top: #e00 solid 1px;
}

.player-finance {
  border-top: #e0e0e0 solid 1px;
}

.player-goo {
  border-top: #800080 solid 1px;
}

.player-greenbacks {
  border-top: #fff dotted 1px;
}

.player-health {
  border-top: #0f0 solid 1px;
}

.player-humility {
  border-top: #dd0 solid 1px;
}

.player-intelligence {
  border-top: #35f solid 1px;
}

.player-strength {
  border-top: #0ee solid 1px;
}

#drupalforfirebug_general {
  margin-top: 60px;
  display: block !important;
}

.swiper-container {
  width: 100%;
  height: 440px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: start;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-slide .title {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 3px #444;
}

.swiper-slide .quest-images {
  height: 256px;
  overflow: hidden;
}

.swiper-slide .title a {
  text-decoration: none;
  display: block;
  -webkit-text-stroke: 1px forestgreen;
}

.swiper-slide .title a.admin-obfuscate {
  text-decoration: line-through;
}

.swiper-slide .title img {
  width: 72px;
  margin: 3px 5px;
  box-shadow: green 3px 3px 6px;
  opacity: 0.7;
  border: 2px solid lightgreen;
  border-radius: 6px;
}

.swiper-slide .description {
  color: #e0e8ee;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  margin: 12px 6px 6px;
  height: 88px;
}
