$game: "stl1904";

$background-color: #170a0a;
$color: #d8ceaa;

$a-link-color: #1ca443;

$welcome-color: #d8ceaa;
$welcome-border-color: #d8ceaa;

$button-box-shadow-color: #4c1;
$button-background-color: #3b0;
$button-background-from: $button-background-color 5%;
$button-background-to: #2a0 100%;
$button-border-color: $button-box-shadow-color;
$button-color: #f8fefc;
$button-text-shadow-color: #528009;

$news-buttons-color: #670;
$news-buttons-background-color: #670a;

$tagline-color: #643;

$quest-link-color: #3fd453;
$quest-group-title-color: #3fd453;

$city-icon: "stl1904_city_icon.jpg";
$elder-happy: "stl1904_wise_old_man_happy.png";

$speech-bubble-background-color: #421;
