body {
  background: #000000;
}

a, a:link, a:visited, a:hover, a:active {
  color: #1ca443;
}

li {
  list-style: url('/sites/default/files/images/redbullet.png');
}

.header {
  background: url(/sites/default/files/images/stlouis_header_bg.jpg) !important;
}

.header.hood1 {
  background: url(/sites/default/files/images/stlouis_header_bg_1.jpg) !important;
}

.header.hood2 {
  background: url(/sites/default/files/images/stlouis_header_bg_2.jpg) !important;
}

.header.hood3 {
  background: url(/sites/default/files/images/stlouis_header_bg_3.jpg) !important;
}

.header.hood4 {
	background: url(/sites/default/files/images/stlouis_header_bg_4.jpg) !important;
}

.header.hood5 {
  background: url(/sites/default/files/images/stlouis_header_bg_5.jpg) !important;
}

.header.hood6 {
  background: url(/sites/default/files/images/stlouis_header_bg_6.jpg) !important;
}

.header .experience {
  border-bottom: 1px solid #333833 !important;
}

.title.loot {
  color: #d4c41c;
}

.welcome .subtitle {
  color: #1ca443;
  font-weight: bold;
  margin-top: 9px;
}

.welcome-continue a, .election-continue a {
  border: 1px solid #1ca443;
  background-color: #1ca443;
}

.main-menu, .elders-menu {
  font-weight: bold;
}

.main-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 45%;
  margin: 6px 2%;
  float: left;
  background: #444f44;
}

.elders-menu .menu-option {
  border: 2px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 72%;
  margin: 10px 14%;
  text-align: center;
  background: #444f44;
}

.menu-option a {
  text-decoration: none;
}

.menu-option.not-yet {
  text-decoration: none;
  color: #bbb;
}

.quests, .land {
  background-color: #0d0f0d;
}

.quests .quest-experience, .quests .quest-money,
.quests .quest-required_energy, .quests .quest-required_stuff,
.quests .quest-payout,
.land .land-cost, .land .land-action-cost, .land .land-payout,
.land .land-required_level, .land-soon .land-action-cost {
  color: #1ca443;
}

.quests .quest-required_stuff.missing {
  color: #c4244f;
}

.quests .quest-loot {
  color: #d4c41c;
}

.quests .quest-payout.negative,
.land .land-payout.negative, .land-soon .land-payout.negative {
  color: #c4244f;
}

.quests .quest-description, .land .land-description {
  color: #cbb;
}

.quests-soon .quest-experience, .quests-soon .quest-money,
.quests-soon .quest-required_energy,
.land-soon .land-cost, .land-soon .land-payout,
.land-soon .land-required_level {
  color: #0e5221;
}

.quests-soon a, .quests-soon a:link, .quests-soon a:visited,
.quests-soon a:hover, .quests-soon a:active,
.land-soon a, .land-soon a:link, .land-soon a:visited,
.land-soon a:hover, .land-soon a:active {
    color: #0e5221;
}

.quest-succeeded, .election-succeeded, .land-succeeded {
  color: #1ca443;
}

.quest-failed, .election-failed, .land-failed, .title.failed {
  color: #c4244f;
}

.quest-do-again, .land-buy-again {
  text-align: right;
  margin-right: 8px;
  margin-bottom: 28px;
  padding-top: 3px;
}

.quest-do-again-inside, .land-buy-again-inside {
  padding: 3px;
  background-color: #1ca443;
  border: 1px solid #1ca443;
  border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
}

.quest-do-again a, .land-buy-again a {
  color: #fff;
  text-decoration: none;
}

.quests .quest-name.loot {
  color: #d4c41c;
}

.land .land-owned {
  color: #fff;
}

.level-up {
  border: 1px solid #0e5221;
  background-color: #0e5221;
}

.choose-clan-name {
  margin-left: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #1ca443;
}

.choose-clan-name a {
  text-decoration: none;
}

.choose-clan-slogan {
  margin: 0px 0px 8px 54px;
  font-style: italic;
  font-size: 11px;
  color: #bcb;
}

.help .subtitle {
  margin: 8px 0 4px;
}

.help .subtitle {
  color: #1ca443;
}

.wise_old_man_large, .wise_old_man {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_large.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 106px;
  height: 144px;
  float: left;
}

.wise_old_man_small {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_small.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 65px;
  height: 80px;
  float: left;
}

.wise_old_man.sad {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_sad.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 90px;
  height: 90px;
  float: left;
  background-size: contain;
  margin-right: 12px;
}

.wise_old_man.happy {
  background-image: url('/sites/default/files/images/stlouis_wise_old_man_happy.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 54px;
  height: 72px;
  float: left;
  background-size: contain;
  margin-right: 12px;
}

.username-error {
  color: #c4244f;
}

.elections-header {
  color: #1aa443;
}

.elections .election-details .action, .land .land-buy-button,
.land .land-sell-button, .land .land-perform-button,
.send-message-send-wrapper .send-message-send,
.quests .quests-perform-button, .crafting-submit-button {
  padding: 3px 12px;
  background-color: #188433;
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.send-message .block-user {
  padding: 3px 12px;
  background-color: #188433;
  border: 1px solid #188433;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.send-message .block-user a {
  color: #fff;
  text-decoration: none;
}

.elections .election-details .action.not-yet, .land .land-buy-button.not-yet,
.land .land-sell-button.not-yet {
  background-color: #333833;
  border: 1px solid #333833;
}

.elections .election-details .action a, .land .land-buy-button a,
.land .land-sell-button a, .land form input.land-buy-button {
  color: #fff;
  text-decoration: none;
}

.try-an-election {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.try-an-election.not-yet {
  background-color: #333833 !important;
  border: 1px solid #333833 !important;
}

.news .message-body {
  border: 1px solid #111811 !important;
  background-color: #111811 !important;
}

.news .button {
  background-color: #0e5221 !important;
  border: 1px solid #0e5221 !important;
}

.news .button.active {
  background-color: #188433 !important;
  border: 1px solid #fff !important;
}

.news .message-reply {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.news .message-reply.not-yet {
  background-color: #bbb !important;
  border: 1px solid #bbb !important;
  color: black;
}

.user-profile .action {
  background-color: #188433 !important;
  border: 1px solid #188433 !important;
}

.user-profile .action.not-yet {
  background-color: #333833 !important;
  border: 1px solid #333833 !important;
}

.user-profile .event-status {
  color: #b33;
}

.highlighted {
  color: #188433;
  font-weight: bold;
}

.event-info .subtitle {
  color: #c33;
  font-weight: bold;
  margin-top: 20px;
}

.event-info .subsubtitle {
  color: #aaa;
}

a.version {
  color: #aa6;
  text-decoration: none;
}


.new-main-menu .elections-menu {
  position: absolute;
  top: 97px;
  left: 53px;
  text-decoration: none;
  color: rgba(255, 255, 170, 0.7);
  font-size: 15px;
  font-family: Georgia, "times new roman", serif;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 8px yellow;
}

.competency-pip {
  border-right: solid 2px #693318 !important;
}

.competency-pip.attained {
  border-right: solid 2px #188433 !important;
}

.too-soon {
  color: rgba(255, 255, 70, 0.7);
}
