/**
 * @section Menu styles
 */
#menu-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 14px;
  left: 12px;
  z-index: 99;
}

#menu-toggle-button {
  width: calc(100% - 4px);
  height: 100%;
  object-fit: scale-down;
  object-position: center 7px;
  background-color: #00800080;
  border-radius: 99px;
}
