/**
 * @section People styles
 */
#people-toggle {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 14px;
  left: 8px;
  z-index: 99;
  background-color: #0088;
  border: solid 1.5px #1477c5;
  box-sizing: border-box;
  border-radius: 99px 99px 99px 19px;
  text-align: center;
  font-size: 1rem;
  padding-top: 5px;
  &::after {
    content: "people";
    position: fixed;
    left: 8px;
    bottom: 0px;
    color: #1477c5;
    font-size: .7rem;
    text-transform: uppercase;
    border-left: 1.5px solid #1477c5;
    margin-top: 4px;
    background-color: #0088;
    padding: 2px;
    border-radius: 0 9px 9px 9px;
  }
}

#people-button {
  width: 24px;
  object-position: center top;
}
