/**
 * @section Player styles
 */
#player {
  position: absolute;
  top: 4px;
  left: 80px;
  width: calc(100% - 160px);
  height: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;

  div {
    margin: 2px 0;
  }
}

.player_username {
  text-decoration: none;
  color: #dd7;
  font-size: .9375rem;
  font-family: Georgia,times new roman,serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px #e008;
  min-width: 80px;
  text-align: center;
  -webkit-text-stroke: .35px darkred;
  background-color: #0003;
  border-radius: 5px;
}

.player_level, .player_clan, .player_party {
  font-size: 0.625rem;
  padding: 5px 5px 2px;
  text-decoration: none;
  color: #dd7a;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  text-shadow: 1px 1px 2px #0e08;
  -webkit-text-stroke: .35px darkgreen;
  background-color: #0003;
  border-radius: 5px;
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
}
