/**
 * @section stats styles
 */
#stats-toggle {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 14px;
  right: 8px;
  z-index: 99;
  background-color: #8008;
  border: solid 1.5px #b42f43cc;
  box-sizing: border-box;
  border-radius: 99px 19px 99px 99px;
  text-align: center;
  font-size: 1rem;
  padding-top: 10px;
  &::after {
    content: "stats";
    position: fixed;
    right: 8px;
    top: 0px;
    color: #b42f43cc;
    font-size: 10px;
    text-transform: uppercase;
    border-right: 1.5px solid #b42f43cc;
    margin-bottom: 4px;
    background-color: #8008;
    padding: 2px;
    border-radius: 9px 9px 0 9px;
  }
}

// Old stats from portrait header.  Remove as soon as buttons are done.

#stats {
  display: none;

  &.landscape-overlay {
    background-color: #8008;
    border-color: #b42f43cc;
  }

  #money-id, .money-text, #income-time {
    display: inline-block;
  }

  .actions-text {
    display: inline-block;
    position: relative;
    background: url(../img/actions.png) 0 0 no-repeat;
    width: 12px;
    height: 10px;
    font: 0/0 a;
    background-size: contain;
    top: -9px;
    margin-bottom: -9px;
  }

  .energy-text {
    display: inline-block;
    position: relative;
    background: url(../img/energy.png) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    font: 0/0 a;
    background-size: contain;
    top: -9px;
    margin-bottom: -9px;
  }

  .home {
    bottom: 4px;

    #msg-badge {
      background-color: #85851f;
    }
  }

  .experience {
    border-bottom: 1px solid rgba(51, 153, 51, 0.35) !important;
    padding-right: 12px;
  }

  .experience-text {
    position: relative;
    background: url(../img/influence.png) top right no-repeat;
    height: 12px;
    font: 0/0 a;
    background-size: contain;
    top: -2px;
    right: -11px;
  }

  .level-text {
    background: url(../img/level.png) top right no-repeat;
    height: 12px;
    width: 12px;
    font: 0/0 a;
    background-size: contain;
    top: 2px;
    right: 2px;
  }
}

.stats-button {
  display: none;
  width: 32px;
  height: 32px;
  position: fixed;
  z-index: 99;
  background-color: #8008;
  border: solid 1.5px #b42f43cc;
  box-sizing: border-box;
  border-radius: 99px;
  text-align: center;
  font-size: 1rem;
  padding-top: 3px;
  .label {
    display: none;
    color: #b42f43cc;
    font-size: .6rem;
    text-transform: uppercase;
    margin-top: 4px;
    background-color: #8008;
    padding: 2px;
    border-radius: 9px;
    border-radius: 0;
    border: solid 0.5px red;
    text-align: center;
    box-sizing: border-box;
    //transform: translateX(-25%);
  }
  img {
    width: 10px;
    object-position: center top;
  }

  &#stats-button-4 {
    top: 62px;
    right: 2px;
  }

  &#stats-button-3 {
    top: 55px;
    right: 33px;
  }

  &#stats-button-2 {
    top: 31px;
    right: 53px;
  }

  &#stats-button-1 {
    top: 2px;
    right: 58px;
  }
}
