/**
 * @section Stuff styles
 */
#stuff-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  right: 84px;
  z-index: 99;
  background-color: #0808;
  border: solid 1.5px #1ca443cc;
  box-sizing: border-box;
  border-radius: 99px;
  &::after {
    content: "stuff";
    transform: rotate(-22deg);
    position: absolute;
    right: 37px;
    top: 28px;
    color: #1ca443cc;
    font-size: large;
    text-transform: uppercase;
  }
}

#stuff-toggle-button {
  width: calc(100% - 4px);
  height: 100%;
  object-fit: scale-down;
  object-position: center 7px;
  background-color: #0808;
  border-radius: 99px;
}
