body {
  margin: 0;
  padding: 0;
  font: 12px Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 320px;
}

h3, h4 {
  margin: 8px 0 0;
}

.title {
  font: 16px Arial, Helvetica, sans-serif;
  clear: both;
  margin-top: 12px;
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
}

.title.error {
  color: red;
}

.title.loot {
  padding-top: 12px;
  padding-bottom: 6px;
}

.subtitle {
  font: 15px Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 8px;
}

.subsubtitle {
  font: 13px Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 8px;
  margin-bottom: 8px;
}

.quest-group-completion {
  font: 10px Arial, Helvetica, sans-serif;
  text-align: center;
  clear: both;
  margin-top: 4px;
  color: #ccc;
}

.header {
  background-color: #333;
  padding: 0px 4px;
}

.header .money {
  float: left;
  display: table-cell;
  width: 41%;
}

.header .money-text {
  font-size: 10px;
  display: inline;
}

.header .actions {
  float: left;
  display: table-cell;
  width: 30%;
  text-align: center;
}

.header .actions-text {
  font-size: 10px;
  display: inline;
}

.header .experience {
  text-align: right;
  border-bottom: 1px solid #333;
}

.header .experience-text {
  font-size: 10px;
}

.header .energy-text {
  font-size: 10px;
  display: inline;
}

.header .energy {
  float: left;
  display: table-cell;
  width: 41%;
}

.header .home {
  float: left;
  display: table-cell;
  width: 30%;
  text-align: center;
  margin-top: 4px;
}

.header .home a {
  border: none;
}

.header .energy #energy-id, .header .money #money-id,
.header .actions #actions-id {
  font-weight: bold;
  display: inline;
}

.header .energy #energy-time, .header .money #income-time,
.header .actions #actions-time {
/*  display: inline; */
  font-size: 10px;
}

.header .level {
  text-align: right;
}

.header .level a {
  font-size: 13px;
}

.header .level-text {
  font-size: 11px;
}

.main-menu, .elders-menu.big {
  margin-top: 12px;
  font-size: 21px;
  text-align: center;
}

.main-menu, .elders-menu {
  margin-top: 12px;
  font-size: 17px;
  text-align: center;
}

p {
  margin: 0px 3px;
}

p.second {
  margin-top: 6px;
}

ul {
  margin-left: 0px;
  padding-left: 18px;
  clear: both;
}

li {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 6px;
}

.quests {
  margin: 12px 3px -4px;
  border: 1px solid white;
  padding: 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  min-height: 80px;
}

.quests .quest-icon {
  width: 96px;
  height: 60px;
  padding-right: 5px;
  border: 0px;
  float: left;
  display: table-cell;
}

.quests.wrong-hood .quest-icon {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

.quests .quest-complete {
  color: #26c;
  font-size: 10px;
  text-align: center;
  margin-top: 3px;
}

.quests .quest-complete-percentage {
  position: absolute;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.quests .quest-complete-text {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.quests .quest-details {
  display: table-cell;
}

.quests .quest-name {
  font-size: 14px;
  font-weight: bold;
}

.quests.wrong-hood .quest-name {
  color: #aaa;
}

.quests .quest-description {
  font-size: 11px;
}

.quests.wrong-hood .quest-description {
   margin-top: 6px;
   margin-bottom: 11px;
}

.quests .quest-experience {
  margin-top: 6px;
}

.quests .quest-experience, .quests .quest-money,
.quests .quest-required_energy, .quests .quest-loot,
.quests .quest-required_stuff {
  /* margin-left: 10px; */
  font-size: 11px;
}

.quests .quest-required_energy, .quests .quest-required_stuff {
  margin-top: 6px;
}

.quests .quest-required_equipment {
  vertical-align: middle;
  display: inline-block;
}

.quests .quest-required_equipment img.not-yet {
  border: 2px solid #a41c43;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.quests .quest-loot {
  /* font-style: italic; */
  font-weight: bold;
}

.quests .quest-required_stuff.centered {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.quests-soon {
  margin: 12px 3px 0px;
  border: 1px solid grey;
  padding: 3px 3px 3px 104px;
  background-image: url('/sites/default/files/images/quests/stlouis-soon.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.quests-soon .quest-name {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.quests-soon .quest-description {
  color: #888;
  margin-bottom: 6px;
  font-size: 11px;
}

.quests-soon .quest-experience, .quests-soon .quest-money,
.quests-soon .quest-required_energy, .quests-soon .quest-required_level {
  margin-left: 10px;
  font-size: 11px;
}

.quests-soon .quest-required_level {
  color: #a41c43;
  font-weight: bold;
}

.quest-succeeded, .election-succeeded, .land-succeeded {
  clear: both;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.quest-failed, .election-failed, .land-failed {
  clear: both;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.land {
  margin: 12px 3px -4px;
  border: 1px solid white;
  padding: 3px 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  clear: both;
  width: 306px;
}

.land .land-icon {
  /* width: 48px; */
  height: 48px;
  padding-right: 5px;
  border: 0px;
  float: left;
  display: table-cell;
}

.land .land-details {
  display: table-cell;
}

.land .land-name {
  font-size: 14px;
  font-weight: bold;
}

.land .land-name .type {
  text-transform: capitalize;
}

.land .land-description {
  font-size: 11px;
}

.land .land-owned, .land .land-action, .land-soon .land-action {
  font-weight: bold;
  margin-top: 6px;
}

.land .land-action-cost, .land-soon .land-action-cost, .land-disbursements {
  margin-top: 6px;
}

.land .land-cost {
}

.quests .quest-payout,
.land .land-owned, .land .land-cost, .land .land-action-cost,
.land .land-payout {
  margin-left: 10px;
  font-size: 11px;
}

.land .land-button-wrapper {
  margin: 3px;
  text-align: right;
}

.land .land-perform-button-wrapper, .send-message-send-wrapper {
  margin: 3px;
  text-align: right;
}

.quests .quests-perform-button-wrapper {
  margin: 3px;
  text-align: right;
}

.land .land-buy-button, .land .land-sell-button {
  display: inline-block;
  margin: 8px 2px 4px 20px;
}

.land form .land-buy-button, .land form .land-sell-button {
  margin: 8px 2px 4px 8px;
}

.land .land-perform-button, .quests .quests-perform-button {
  display: inline-block;
  margin: 0px 2px 4px 20px;
}

.land .land-button-wrapper form {
  display: inline-block;
}

.send-message-send-wrapper .send-message-send {
  display: inline-block;
  margin: 8px 2px 0px 20px;
  color: #fff;
}

.land input.land-perform-button, .quests input.quests-perform-button,
.crafting-submit-button {
  color: #fff;
}

a.crafting-submit-button {
  text-decoration: none;
  color: white;
}

.crafting-submit-button-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.land .target {
  text-align: right;
  margin: 3px 3px 0 0;
}

.land .quantity {
  display: inline-block;
  margin: 5px -8px 0 0;
}

.land form .quantity {
  display: inline-block;
  margin: 5px -8px 0 16px;
}

.land-soon {
  margin: 12px 3px 0px;
  border: 1px solid grey;
  padding: 3px 3px 3px 104px;
  background-image: url('/sites/default/files/images/quests/stlouis-soon.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.land-soon .land-name {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.land-soon .land-description {
  color: #888;
  font-size: 11px;
  margin-bottom: 6px;
}

.land-soon .land-cost, .land-soon .land-payout,
.land-soon .land-required_level, .land-soon .land-action-cost {
  margin-left: 10px;
  font-size: 11px;
}

.land-soon .land-required_level {
  color: #a41c43;
  font-weight: bold;
}

.level-up {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 6px 3px 10px 3px;
  padding: 2px;
}

.level-up-header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}

.level-up-image {
  float: left;
  padding: 0px 10px 6px;
}

.level-up-text {
  text-align: center;
  padding: 3px;
}

.welcome {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 12px 3px 3px;
  padding: 4px;
  min-height:150px;
}

.welcome .ask-name {
  margin-top: 12px;
}

.welcome-continue, .election-continue {
  margin: 16px 3px 3px;
  padding: 4px;
  text-align: center;
}

.welcome-continue a, .election-continue a {
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.choose-clan {
  margin-top: 12px;
  clear: both;
}

.choose-clan-icon {
  float: left;
  margin-left: 8px;
  margin-top: 2px;
}

.help {
  margin-top: 12px;
}

.help .subtitle {
  margin: 8px 0 4px;
  font-weight: bold;
}

.help p {
  margin-top: 2px;
}

.news {
  width: 99%;
  margin: 3px 3px 0;
  clear: both;
  text-align: center;
}

.news-buttons {
  text-align: center;
}

.news #all-text {
  text-align: left;
}

.news .title {
  border-bottom: 1px solid white;
  text-align: right;
  padding-top: 0px;
  margin-bottom: 2px;
  font-weight: normal;
  font-size: 13px;
  clear: both;
}

.news .messages-title {
  border-bottom: 1px solid white;
  text-align: right;
  padding-top: 10px;
  margin-bottom: 2px;
  font-weight: normal;
  font-size: 13px;
  clear: both;
}

.news .subtitle {
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
  margin: 8px 0;
}

.news .dateline {
  font-style: italic;
  font-size: 10px;
  color: #ccc;
  clear: both;
  text-align: left;
}

.news .message-body {
  margin: 3px;
  padding: 4px 24px 32px 4px;
  border: 1px solid #111;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #111;
  text-align: left;
}

.news .message-body.private {
  color: red;
}

.news .message-body.system {
  color: green;
}

.news .message-body.user {
  color: #aab030;
}

.news .message-body.challenge {
  color: #9f7b36;
}

.news .message-body.party {
  color: #aaa;
}

.news .message-body.values {
  color: #5abafe;
}

.news p {
  margin: 8px;
}

.news .all {

}

.news .personal {

}

.news .elections {

}

.news .clan {

}

.news .system {

}

.news .button, .news button {
  display: inline-block;
/*   float: left; */
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 6px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.news .button:last-child, .news button:last-child {
  margin-right: 0px;
}

.news a.button {
  color: #fff;
  text-decoration: none;
}

.news button {
  color: white;
}

.news .message-reply-wrapper {
  position: absolute;
  right: 16px;
}

.news .message-reply {
  display: inline-block;
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 4px 7px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.news .message-reply a {
  color: #fff;
  text-decoration: none;
}

.news .message-delete {
  position: absolute;
  right: 16px;
}

.news-item {
  width: 100%;
}

.user-profile .action {
  display: inline-block;
  text-align: right;
  margin-left: 12px;
  margin-bottom: 18px;
  padding: 4px 7px;
  border: 1px solid #999;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #999;
}

.user-profile .action a {
  color: #fff;
  text-decoration: none;
}

.username-error {
  margin: 3px 0 6px;
}

.elections {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 20px 3px 3px;
  padding: 4px;
}

.elections .clan-title {
  width: 27%;
  float: left;
  margin-left: 12px;
}

.elections-header .clan-title {
  width: 34%;
  float: left;
}

.elections .election-details {
  clear: both;
  border-bottom: 1px solid #343;
  margin-bottom: 4px;
  min-height: 4.5em;
  position: relative;
}

.elections .election-details .opponent-name,
.elections-header .election-details .opponent-name {
  font-weight: bold;
  width: 36%;
  float: left;
  height: 31px;
}

.elections-header .election-details .opponent-influence {
  font-weight: bold;
}

.elections .election-details .approval-rating {
  clear: both;
  display: block;
  margin: 16px 0 0 38px;
  font-style: italic;
  max-width: 80px;
}

.elections-header {
  font-weight: bold;
  margin: 12px 0 0 36px;
  font-size: 13px;
}

.elections .me {
  font-style: italic;
  color: #ffd;
}

.elections .election-details .rank {
  position: absolute;
  left: 2px;
  top: 26px;
  font-size: 12px;
}

.elections .election-details .clan-icon {
  float: left;
}

.elections .election-details .clan-icon img {
  width: 24px;
}

.can-broadcast-to-party {
  display: inline;
  margin: 0 4px;
  vertical-align: top;
  color: #a41c43;
  font-weight: bold;
}

.elections .election-details .action-wrapper {
  height: 2em;
  margin: 3px;
}
.elections .election-details .action {
  clear: both;
  float: right;
  margin: 0px 2px 4px 0;
}

.try-an-election-wrapper {
  /* text-align: center; */
}

.try-an-election {
  margin: 12px auto 16px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 6px;
  background-color: #888;
  border: 1px solid #888;
  border-radius: 4px;
  -moz-border-radius: 4px;
  width: 15em;
}

.try-an-election a, a.try-an-election, input.try-an-election {
  text-decoration: none;
  color: #fff;
}

a.try-an-election, input.try-an-election {
  display: block;
}

.election-succeeded {
  margin-top: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.election-failed {
  margin-top: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.user-profile {
  margin: 8px 3px 3px;
}

.user-profile .heading {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 100px;
  margin: 3px;
}

.user-profile .value {
  display: inline;
}

.user-profile .clan-icon {
  display: inline;
}

.message-title {
  padding-top: 12px;
  font-weight: bold;
  padding-left: 6px;
  clear: both;
}

.send-message {
  border: 1px solid white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
  margin: 3px;
  padding: 4px;
}

.send-message .title {
  font-weight: bold;
  margin-top: 12px;
}

.send-message .message-textarea {
  width: 98%;
}

.send-message .send-message-send {
  text-align: right;
  clear: both;
}

.send-message .send-message-target {
  float: left;
  margin: 9px 3px 3px;
}

.send-message .block-user {
  float: left;
  margin: 9px 3px 3px 3px;
}

.action-effect {
  text-align: center;
  margin: 12px 0;
}

.ask-clan-name {
  text-align: center;
}

.ask-clan-name p {
  margin: 3px;
}

.ask-clan-name input {
  margin: 3px;
}

.debate-used {
  text-align: center;
  font-size: 14px;
  padding: 8px 3px 3px;
  display: inline-block;
  position: relative;
}

.debate-used img {
  width: 72px;
}

.debate-used .debate-num {
  position: absolute;
  right: 9px;
  bottom: 5px;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

.debate-used-wrapper {
  text-align: center;
}

.purchase {
  margin-top: 16px;
  text-align: center;
}

.message-error {
  text-align: center;
  padding-top: 6px;
  color: #c23;
  font-weight: bold;
}

.message-error.big {
  padding-bottom: 6px;
  font-size: 18px;
}

.clan-list {
  margin: 0 4px;
}

.ask-name {
  text-align: center;
}

.event {
  margin: 14px 0 6px 4px;
  text-align: center;
  color: #a55;
}

.event a {
  display: block;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  background-color: #cc0;
  border-radius: 50px;
  margin: 10px auto 0;
  width: 156px;
  text-decoration: none;
}

.event .event-title {
  margin: 3px;
  font-size: 15px;
}

.event-text {
  padding: 6px 12px 0;
  font-weight: bold;
}

.event-tagline {
  clear: both;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  font-family: georgia, times new roman, times, serif;
}

.event-tagline.small{
  clear: both;
  padding-bottom: 4px;
  text-align: center;
  font-size: 14px;
  font-family: times new roman, times, serif;
}

a .event-text {
  text-decoration: none;
  color: white;
}

.event-info {
  margin: 18px 12px;
}

.event-info .subsubtitle strong {
  color: #ddd;
}

.location {
  color: #888;
  font: 10px Helvetica, Arial, sans-serif;
  text-align: center;
}

.version {
  font: 8px Helvetica, Arial, sans-serif;
  display: block;
}

.new-main-menu {
  position: relative;
}

.competency-pip {
  border-right: solid 2px #888;
  border-radius: 2px;
  margin-right: 2px;
}

.competency-pip.attained {
  border-right: solid 2px #ddd;
}

.initial-caps {
  text-transform: capitalize;
}

.item-picklist select {
  margin-left: 24px;
  margin-top: 8px;
}
