.news .button, .news button {
  //background-color: #0e5221 !important;
  //border: 1px solid #0e5221 !important;
  border-radius: 12px 10px 12px 0;
  background: #188443;
  border: none;
  color: #3b0;
  padding: 6px 9px;
  margin: 0;
}

.news .button.active, .news button.active {
  background-color: #3b0;
  color: #f8fefd;
}

.news .button.not-yet, .news button.not-yet {
  background-color: #bbb !important;
  border: 1px solid #bbb !important;
  color: black;
}

.button-continue {
  box-shadow: inset 0 1px 0 0 #4c1;
  background: linear-gradient(to bottom, #3b0 5%, #2a0 100%);
  background-color: #3b0;
  border-radius: 6px;
  border: 1px solid #4c1;
  display: inline-block;
  cursor: pointer;
  color: #f8fefc !important;
  font-family: Helvetica, Arial, "Verdana", "sans-serif";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528009;
  margin: 16px 0 8px;
  text-transform: capitalize;
}

button, .button {
  box-shadow: inset 0 1px 0 0 #4c1;
  background: linear-gradient(to bottom, #3b0 5%, #2a0 100%);
  background-color: #3b0;
  border-radius: 6px;
  border: 1px solid #4c1;
  display: inline-block;
  cursor: pointer;
  color: #f8fefc !important;
  font-family: Helvetica, Arial, "Verdana", "sans-serif";
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px 4px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528009;
  margin: 8px 0 8px;
  text-transform: capitalize;

  &.not-yet {
    box-shadow: inset 0 1px 0 0 #999;
    background: linear-gradient(to bottom, #888 5%, #777 100%);
    background-color: #777;
    border: 1px solid #999;
    color: #bbb !important;
    text-shadow: 0 1px 0 #808080;
  }

}

.big button, .big .button {
  font-size: 13px !important;
  padding: 5px 10px 6px;
}

.big-80 button, .big-80 .button {
  font-size: 13px !important;
  padding: 5px 10px 6px;
  width: 80%;
}

.highlight button, .highlight .button {
  box-shadow: inset 0 1px 0 0 #b13;
  border: 1px solid #c14;
}

.halflight button, .halflight .button {
  box-shadow: inset 0 1px 0 0 #13b;
  border: 1px solid #14c;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper.button-wrapper-do-again,
.button-wrapper.button-wrapper-debate,
.button-wrapper.button-wrapper-view---respond {
  text-align: right;
}

.button.button-debate {
  margin: 26px 3px 0 0;
}
